{% extends "base.html" %}
{% block content %}
    {% if error is defined %}
    <div class=""alert alert-warning alert-dismissible fade show" role="alert">
        <strong> Warning!</strong> {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <<body>
        <div class="container">
            <form action="/extract" method="post" class="text-center">
                <div class="form-group">
                    <h1 class="text-center my-4">Enter Product ID</h1>
                    <input type="text" id="product_id" name="product_id" class="form-control" style="max-width: 300px; margin: 0 auto;">
                </div>
                <button type="submit" class="btn btn-primary">Scrape!</button>
            </div>
            <div class="col-auto">
            <span id="product_idHelpInline" class="form-text">Product code must be 5-10 digits long.</span>
            </div>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
        
    </form>
{% endblock %}